.container{
    max-width: 28rem;
    margin: 8rem auto;
    background-image: url(/images/black-white.jpg);
    box-shadow: var(--shadow-dark);
    
    border: 12px solid black;
     border-radius: 12px;

    min-height: 20rem;
    
}


